# Postgres
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
DATABASE_URL=postgres://changeme:changeme@changeme:changeme/changeme

# Redis
REDIS_URL=redis://changeme:changeme

# JWT
JWT_SECRET=changeme
